<div>

  <div>
    <p>Number of People <ion-badge>{{ numberOfPeople }}</ion-badge>
    </p>
  </div>

  <div>
    <ion-range min="1" max="10" [(ngModel)]="numberOfPeople" color="primary">
      <ion-label range-right>10</ion-label>
    </ion-range>
  </div>

  <div>
    <p>Taxi Fare <ion-badge>R{{taxiFare}}</ion-badge>
    </p>
  </div>

  <div>
    <ion-range min="8" max="120" step="0.50" [(ngModel)]="taxiFare" color="primary">
      <ion-label range-right>120</ion-label>
    </ion-range>
  </div>

  <div>
    <p>Test <ion-badge>R{{test}}</ion-badge>
    </p>
  </div>
  <div>
    <ion-range #range min="1" max="10" step="0.50" [(ngModel)]="test">
      <ion-label range-right>test</ion-label>
    </ion-range>
  </div>

  <form action="#">
    <div class="input-group">
      <input type="number" class="form-control" name="MoneyPaid" [(ngModel)]="moneyPaid" (change)="inputOnChange()">
      <label>Amount Paid (e.g: R50.00)</label>
    </div>
    <button ion-button block round color="primary" (click)="calculateChange()">Calculate Change</button>
  </form>

</div>