page-basic {
    ion-badge{
        float: right;
    }
    .button-block {
        width: 50%;
    }
    button {
        vertical-align: middle;
    }
    .button-block-md {
        margin-left: auto;
        margin-right: auto;
    }
}