<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      Taxi Math
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content no-bounce padding>

  <ion-segment [(ngModel)]="calulators" full="true" assertive>
    <ion-segment-button value="basic">
      Basic
    </ion-segment-button>
    <ion-segment-button value="advance">
      Advanced
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="calulators">
    <ion-list *ngSwitchCase="'basic'">
        <page-basic></page-basic>
    </ion-list>

    <ion-list *ngSwitchCase="'advance'">
        <page-advanced></page-advanced>
    </ion-list>
  </div>

</ion-content>