page-home {
    // .scroll-content
    // {
    //     overflow-y: hidden;
    // } 
    // ion-card{
    //     img{
    //         display: inline;
    //         width: 68px !important;
    //         height: 68px;
    //     }
    // }
    
    // .input-style {
    //     align-content: initial;
    //     background-color: aqua;
    // }

    // .input-style input {
    //     width: 100%;
    // }

    body {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        color: lighten(black, 22%);
    }
    .input-group {
        position: relative;
        margin: 40px auto;
    }

    .form-control {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 35px;
        font-size: 16px;
        border: none;
        border-bottom: 1px solid lighten(black, 85%);
        background-color: transparent;

        & + label {
            position: absolute;
            top: 10px;
            left: 3px;
            font-size: 16px;
            color: lighten(black, 60%);
            transition: all .2s ease-out;
        }
        &:focus{
            outline: none;
            border-width: 2px;
            border-color: #544266;
            transition: all .2s ease-out;
        }

        &:focus + label,
        &.has-value + label {
            top:-15px;
            color: #544266;
            font-size: 12px;
        }
    }
}
