@import url(https://fonts.googleapis.com/css?family=Montserrat);

.hide-card {
    -webkit-box-shadow: none!important;
  }
  
	
	.scroll-content {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	
	.hide-card .card .card-md {
		margin: 0px !important;
	}

  .custom-avatar {
    height: 30vw;
    width: 30vw;
    border: 1px solid #544266;
    border-radius: 50%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .menuIcons {
    margin-left: 10px;
    color: #544266;
  }


  .chooseOpt {
    margin-left: 20px;
    color: #544266;
  }

  ion-footer {
    p {
      color: #A6A6A6;
    }
  }