<div>
  <div>

      <div>
          <p>Number of People <ion-badge>{{firstNumberOfPeople}}</ion-badge>
          </p>
      </div>

      <div>
          <ion-range min="1" max="21" [(ngModel)]="firstNumberOfPeople" color="primary">
              <ion-label range-right>21</ion-label>
          </ion-range>
      </div>

      <div>
          <p>Taxi Fare <ion-badge>R{{ firstTaxiFare }}</ion-badge>
          </p>
      </div>

      <div>
          <ion-range min="1" max="21" [(ngModel)]="firstTaxiFare" color="primary">
              <ion-label range-right>R120.00</ion-label>
          </ion-range>
      </div>

      <div>
          <p>Number of People <ion-badge>{{secondNumberOfPeople}}</ion-badge>
          </p>
      </div>

      <div>
          <ion-range min="1" max="21" [(ngModel)]="secondNumberOfPeople" color="primary">
              <ion-label range-right>21</ion-label>
          </ion-range>
      </div>

      <div>
          <p>Taxi Fare <ion-badge>R{{ secondtaxiFare }}</ion-badge>
          </p>
      </div>

      <div>
          <ion-range min="1" max="21" [(ngModel)]="secondtaxiFare" color="primary">
              <ion-label range-right>R120.00</ion-label>
          </ion-range>
      </div>

      <form action="#">
          <div class="input-group">
              <input type="number" class="form-control" name="MoneyPaid" [(ngModel)]="moneyPaid" (change)="inputOnChange()">
              <label>Amount Paid (e.g: R50.00)</label>
          </div>
          <button ion-button block round color="primary" (click)="calculateChange()">Calculate Change</button>
      </form>

  </div>
</div>